@model User

@{
    ViewData["Title"] = "Home Page";
}

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="LogIn" method="post" class="form-signin">
    <div class="form-label-group">
        <div class="text-center mb-4">
            <img class="mb-4" src="http://knoxpa.com/wp-content/uploads/2017/01/movies.jpg" alt="" width="202" height="132">
            <h1 class="h3 mb-3 font-weight-normal">Log In Page</h1>
            <p>Your are in the right place to watch the best movies in the world</p>
        </div>
        <div class="form-label-group">
            <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email address" required>
            <div><span asp-validation-for="Name" class="text-danger"></span></div>
            <label asp-for="Email">Email address</label>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>    
    </div>

    <div class="form-label-group">
        <input asp-for="Password" type="password" class="form-control" placeholder="Password" required>
        <label asp-for="Password"></label>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
        </div>
        <div class="col-md-6">
            <a asp-controller="Home" asp-action="RegistrationForm" class="btn btn-lg btn-primary btn-block">
                Sign Up
            </a>
        </div>
    </div>
</form>

