@model User
@{
    ViewData["Title"] = "Registration Form";
}

<h2 asp-validation-summary="ModelOnly" class="text-danger"></h2>
<form asp-action="AddUser" method="post" class="form-signin">
    <div class="text-center mb-4">
        <h2 class="h3 mb-3 font-weight-normal">@ViewData["Title"]</h2>
        <p>Please fill up all the fields with your information</p>
    </div>

    <div class="form-label-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name" required autofocus>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-label-group">
        <label asp-for="Email">Email address</label>
        <input asp-for="Email" class="form-control" placeholder="Email address" required autofocus>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-label-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control" placeholder="Password" required>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </div>
        <div class="col-md-6">
            <a asp-action="Index" class="btn btn-lg btn-primary btn-block">Cancel</a>
        </div>   
    </div>
</form>


